* {
  font-family: "Roboto", sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
}

.header,
.container-one,
.container,
.footer {
  display: flex;
  color: #f9faf8;
  padding-left: 200px;
  padding-right: 200px;
}

.header,
.footer,
.container-one {
  background-color: #1f2937;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 75px;
}

.header ul {
  display: flex;
  gap: 10px;
}

.header li {
  list-style: none;
}

.header a,
.footer a {
  text-decoration: none;
}

.header a,
.header a:visited,
.header a:hover,
.header a:active,
.footer a,
.footer a:hover,
.footer a:visited,
.footer a:active {
  color: inherit;
}

.big-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 150px;

  height: min-content;
}

.big-text p {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
}

.description {
  justify-content: start;
  align-items: start;
  font-size: 18px;
  max-width: 750px;
}

.description p {
  /* maybe change or remove this */
  margin-top: 0;
}
.container-one {
  padding-bottom: 50px;
  justify-content: center;
}

.image-container img {
  height: 200px;
  width: 200px;
  border: 2px solid #3882f6;
  border-radius: 10px;
}

.header img {
  height: 50px;
  width: 125px;
  margin: 10px;
}

.container-one button {
  background-color: #3882f6;
  font-size: 18px;
  color: #f9faf8;
  padding: 8px 32px;
  border-radius: 8px;
}

.image img {
  height: 400px;
  width: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: start;
  color: #1f2937;
  font-size: 18px;
  gap: 20px;
}

.image-container p {
  width: 300px;
}
.text {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.container-two {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  justify-content: center;
}

.container-three {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  color: #1f2937;
  justify-content: center;
  align-items: center;
}

.quote {
  max-width: 1000px;
}

.quote q {
  font-size: 36px;
  font-style: italic;
}
.quote p {
  font-size: 24px;
  color: #1f2937;
  font-weight: bolder;
  text-align: end;
}
.container-q {
  margin: 200px;
  padding-left: 200px;
  padding-right: 200px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px;
  padding: 50px 100px;
  width: 1200px;
  background-color: #3882f6;
  border-radius: 10px;
}

.card-text h3 {
  font-size: 24px;
  margin-bottom: 0;
}

.card-text p {
  margin-top: 0;
  font-size: 18px;
}
.card-button button {
  font-size: 24px;
  background-color: #3882f6;
  color: #f9faf8;
  border: 3px solid #f9faf8;
  padding: 10px 40px;
  border-radius: 5px;
}
