* {
  font-family: "Roboto", sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
}

.header li {
  list-style: none;
}
.header a,
.footer a {
  text-decoration: none;
}
.image-container img {
  height: 200px;
  width: 200px;
  border: 2px solid #3882f6;
  border-radius: 10px;
}

.header img {
  height: 50px;
  width: 100px;
}

.image img {
  height: 500px;
  width: auto;
}
